$primary: rgb(245, 238, 222);
$primary-background: rgba(245, 238, 222, 0.9);
$secondary: #a1d3ab;
$tertiary: #174f61;
$accent: #f5bc39;
$dark: #0c3644;
$error: rgb(245, 70, 57);
$success-background: rgba(129, 248, 152, 0.404);
$error-background: rgba(245, 70, 57, 0.504);
$medium: 768px;
$large: 1000px;

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}
