@import "./variables";
.app {
  display: block;
  background-color: $primary;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}
.burger {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.2rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  color: $dark;
  transition: color 0.5s;
}
.primary-color {
  color: $primary;
}
.account-container {
  position: absolute;
  background-color: $dark;
  color: $primary;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}
.main {
  width: 100%;
  display: block;
  height: 100vh;
}
